.avideo
    video.a_video

    // 侧边播放列表
    .a_side_menu
        each val in params.playList
            a(href="#{val.url}").list_item #{val.title}

    // 顶部菜单
    .a_top_menu
        .a_left_menu #{params.title}
        .a_right_menu
            each val in params.topIcon
                if params.controls[val.key]
                    i(class=`iconfont ${val.icon}` title=`${val.title}`)
                else if val.key == 'playList' && params.playList.length != 0
                    i.iconfont.icon-liebiao(title='列表')

    // 底部进度条和菜单
    .a_controls
        // 进度条
        input.a_progress(type='range', value='0')
        // 试看提示
        .a_vip
            | 试看60秒，
            a.vip_join(href='') 加入会员
            |  观看完整视频。

        // 左边播放等按钮
        .a_left_controls
            each val in params.leftIcon
                if params.controls[val.key]
                    i(class=`iconfont ${val.icon}` title=`${val.title}`)
            span.a_videotime 00:00:00/00:00:00

        // 遍历按钮，根据用户配置决定是否显示
        .a_right_controls
            each val in params.rightIcon
                if params.controls[val.key] == true
                    i(class=`iconfont ${val.icon}` title=`${val.title}`)
                else if (val.key == "high" && Array.isArray(params.url) )
                    i(class=`iconfont ${val.icon}` title=`${val.title}`)
                else if (val.key == "rotate" && typeof params.controls[val.key] == "number")
                    i(class=`iconfont ${val.icon}` title=`${val.title}`)